<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add video</title>
    <link rel="stylesheet" href="./public/css/form.css">
    <script src="https://kit.fontawesome.com/5a9135a894.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap" rel="stylesheet">
</head>
<body>
<header><img src="public/img/logo.png"></header><br>

<h1>Add your video!</h1>
<form class="form-container" method="POST" action="/add">
    <label>Title: </label><br>
    <input class="text" type="text" name="title">
    <br>
    <label>Description:</label><br>
    <input class="text" type="text" name="description">
    <br>
    <label> Tags:</label><br>
    <input class="text" type="text" name="tags">
    <br>
    <label> URL: </label><br>
    <input class="text" type="url" name="url">
    <br><br>
    <input id="submit-btn" type="submit" value="Submit">
</form>
</body>
</html>
