<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Video Library</title>
    <link rel="stylesheet" href="./public/css/style.css">
</head>
<body>
    <h1 style="text-align: center">Video Library</h1>
    <div class="searchbar" style="display: flex; justify-content: center; align-items: center">
        <input type="text" name="search" placeholder="Search...">
    </div>
    <div class="tags">
        <h3>Popular tags: </h3>
        <p><a href="">animals</a></p>
        <p><a href="">cute</a></p>
        <p><a href="">funny</a></p>
    </div>

    <div class="video-container" style="display: flex; flex-direction: row; justify-content: center;align-items: center">
        <div class="video-card">
            <div class="video-title">
                <% videos.forEach(function(video){ %>
                    <%= video.title%>
                <% }) %>
            </div>
            <div class="video-icon">
            <% videos.forEach(function (video) { %>
                <img src="public/img/unnamed.jpg">
            <% })%>
            </div>
        </div>
    </div>


</body>
</html>