<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Video Library</title>
    <link rel="stylesheet" href="./public/css/style.css">
</head>
<body>
    <h1 style="text-align: center">Video Library</h1>
    <div class="searchbar" style="display: flex; justify-content: center; align-items: center">
        <input type="text" name="search" placeholder="Search...">
    </div>
    <div class="tags">
        <h3>Popular tags: </h3>
        <p><a href="">animals</a></p>
        <p><a href="">cute</a></p>
        <p><a href="">funny</a></p>
        <p><a href="">cats</a></p>
        <p><a href="">music</a></p>
    </div>
    <div class="video-container">
        <% videos.forEach(function(video){ %>
        <div class="video-card">
            <div class="video-title">
                <%= video.title%>
            </div>
            <div class="video-icon">
                <iframe width="300" height="215" src="<%= video.url %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <a type="button" class="update-btn" href="/video/<%=video.id%>">
                Update
            </a>
        </div>
            <% }) %>
    </div>


</body>
</html>