* {
    font-family: 'Comfortaa', cursive;
}

body {
    background: #131212;
    margin: auto;
    background-size: 100% 100%;
    color:#747474 ;
}
header img {
    display: flex;
    align-content: center;
    justify-self: center;
    position: relative;
    left: 45%;
}
.form-container {
    padding: 0em 40em;
    display: block;
    position: center;
    /*justify-items: center;*/
    /*justify-content: center;*/
    /*align-content: center;*/
    margin-top: 30px;
    margin-bottom: 20px;
    grid-gap: 1rem;
    color: #747474;
}
.text {
    border: none;
    border-radius: 5px;
    font-weight: bold;
    outline: none;
    background: rgba(0,0,0,0.5);
    color: #747474;
    margin-bottom: 0.6em;
    height: 35px;
    width: 300px;
}
#submit-btn{
    padding: 0.6em;
    background: rgb(52, 5, 85);
    border-radius: 5px;
    border: none;
    margin-left:121px;
}
#submit-btn:hover {
    color: #265a6f;
}

h1 {
    margin-left: 42.9%;
}

h1.title {
    margin-left: 44%;
}