body {
    background-color: #7f7373;
    margin: auto;
    background-repeat: no-repeat;
    background-size: 100% 100%;

}
.tags {
    display: flex;
    flex-flow: row;
}

.tags p a {
    margin-left: 10px;
}

.video-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem;
}

.video-card {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: column;
    margin: 30px 20px;
    border: 1px solid black;
    background-color: rgba(222, 222, 222, 0.15);

}

.video-title {
    text-align: center;
    font-size: 25px;
    text-transform: capitalize;
}

/*.update-btn {*/
/*    !*opacity: 1%;*!*/
/*    display: none;*/
/*}*/

/*.update-btn:hover {*/
/*    !*opacity: 100%;*!*/
/*    display: */
/*}*/